In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

gender_stats = pd.read_csv("5fbbf996-3ab2-44be-a16f-fcbc4dfd9033_Data.csv")
gender_stats2 = pd.read_csv("33dfb901-ffa8-4489-ad39-275afba2be5a_Data.csv")
gender_stats2.head()
gender_stats.head()
gender_stats2 = gender_stats2.drop(["Country Name","Country Code"], axis = 1)
gender_stats2 = gender_stats2.drop([570,571,572,574,573])
gender_stats = gender_stats.drop(["Country Code","Country Name"], axis = 1)
gender_stats = gender_stats.drop([60,61,62,64,63])
gender_stats = gender_stats.replace(to_replace= np.nan,value = 0)
gender_stats.head()
#gender_stats.to_csv (r'C:\Users\vaibh\Downloads\Data_Extract_From_Gender_Statistics (1)\gender_stat.csv', index = False, header=True)
#gender_stats["Series Name"]

,Time,Time Code,"Access to anti-retroviral drugs, female (%) [SH.HIV.ARTC.FE.ZS]","Access to anti-retroviral drugs, male (%) [SH.HIV.ARTC.MA.ZS]","Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+) [FX.OWN.TOTL.FE.ZS]","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+) [FX.OWN.TOTL.MA.ZS]","Adjusted net enrollment rate, primary, female (% of primary school age children) [SE.PRM.TENR.FE]","Adjusted net enrollment rate, primary, male (% of primary school age children) [SE.PRM.TENR.MA]","Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Age at first marriage, female [SP.DYN.SMAM.FE]",...,Women who own land jointly (% of women age 15-49): Q1 (lowest) [SG.OWN.LDJT.FE.Q1.ZS],Women who own land jointly (% of women age 15-49): Q2 [SG.OWN.LDJT.FE.Q2.ZS],Women who own land jointly (% of women age 15-49): Q3 [SG.OWN.LDJT.FE.Q3.ZS],Women who own land jointly (% of women age 15-49): Q4 [SG.OWN.LDJT.FE.Q4.ZS],Women who own land jointly (% of women age 15-49): Q5 (highest) [SG.OWN.LDJT.FE.Q5.ZS],Women who were first married by age 15 (% of women ages 20-24) [SP.M15.2024.FE.ZS],Women who were first married by age 18 (% of women ages 20-24) [SP.M18.2024.FE.ZS],Women's share of population ages 15+ living with HIV (%) [SH.DYN.AIDS.FE.ZS],"Youth illiterate population, 15-24 years, % female [UIS.LPP.AG15T24]","Youth illiterate population, 15-24 years, female (number) [UIS.LP.AG15T24.F]"
0,1960.0,YR1960,..,..,..,..,..,..,44.8286,..,...,..,..,..,..,..,..,..,..,..,..
1,1961.0,YR1961,..,..,..,..,..,..,45.0668,..,...,..,..,..,..,..,..,..,..,..,..
2,1962.0,YR1962,..,..,..,..,..,..,45.305,..,...,..,..,..,..,..,..,..,..,..,..
3,1963.0,YR1963,..,..,..,..,..,..,45.9764,..,...,..,..,..,..,..,..,..,..,..,..
4,1964.0,YR1964,..,..,..,..,..,..,46.6478,..,...,..,..,..,..,..,..,..,..,..,..

KeyError: 'Series Name'

In [16]:
gender_stats2.head()
gender_stats35=gender_stats2['Series Code']
gender_stats35

0           SH.HIV.ARTC.FE.ZS
1           SH.HIV.ARTC.MA.ZS
2           FX.OWN.TOTL.FE.ZS
3           FX.OWN.TOTL.MA.ZS
4              SE.PRM.TENR.FE
5              SE.PRM.TENR.MA
6                 SP.ADO.TFRT
7              SP.DYN.SMAM.FE
8              SP.DYN.SMAM.MA
9                 SP.POP.DPND
10          SP.POP.AG00.FE.IN
11          SP.POP.AG00.MA.IN
12          SP.POP.AG01.FE.IN
13          SP.POP.AG01.MA.IN
14          SP.POP.AG02.FE.IN
15          SP.POP.AG02.MA.IN
16          SP.POP.AG03.FE.IN
17          SP.POP.AG03.MA.IN
18          SP.POP.AG04.FE.IN
19          SP.POP.AG04.MA.IN
20          SP.POP.AG05.FE.IN
21          SP.POP.AG05.MA.IN
22             SP.DYN.CBRT.IN
23             SH.STA.BRTC.ZS
24     SH.DTH.COMM.1534.FE.ZS
25     SH.DTH.COMM.1534.MA.ZS
26     SH.DTH.COMM.3559.FE.ZS
27     SH.DTH.COMM.3559.MA.ZS
28     SH.DTH.INJR.1534.FE.ZS
29     SH.DTH.INJR.1534.MA.ZS
                ...
540      SG.OWN.HSAJ.FE.Q5.ZS
541         SG.OWN.HSJT.FE.ZS
542      SG.OWN.HSJT.FE.Q1.ZS
543      SG.OWN.HSJT.FE.Q2.ZS
544      SG.OWN.HSJT.FE.Q3.ZS
545      SG.OWN.HSJT.FE.Q4.ZS
546      SG.OWN.HSJT.FE.Q5.ZS
547         SG.OWN.LDAL.FE.ZS
548      SG.OWN.LDAL.FE.Q1.ZS
549      SG.OWN.LDAL.FE.Q2.ZS
550      SG.OWN.LDAL.FE.Q3.ZS
551      SG.OWN.LDAL.FE.Q4.ZS
552      SG.OWN.LDAL.FE.Q5.ZS
553         SG.OWN.LDAJ.FE.ZS
554      SG.OWN.LDAJ.FE.Q1.ZS
555      SG.OWN.LDAJ.FE.Q2.ZS
556      SG.OWN.LDAJ.FE.Q3.ZS
557      SG.OWN.LDAJ.FE.Q4.ZS
558      SG.OWN.LDAJ.FE.Q5.ZS
559         SG.OWN.LDJT.FE.ZS
560      SG.OWN.LDJT.FE.Q1.ZS
561      SG.OWN.LDJT.FE.Q2.ZS
562      SG.OWN.LDJT.FE.Q3.ZS
563      SG.OWN.LDJT.FE.Q4.ZS
564      SG.OWN.LDJT.FE.Q5.ZS
565         SP.M15.2024.FE.ZS
566         SP.M18.2024.FE.ZS
567         SH.DYN.AIDS.FE.ZS
568           UIS.LPP.AG15T24
569          UIS.LP.AG15T24.F
Name: Series Code, Length: 570, dtype: object

In [ ]:
 gender_stats3 = gender_stats[["Time","Employers, female (% of female employment) (modeled ILO estimate) [SL.EMP.MPYR.FE.ZS]",
                            "Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]",
                             "Employment in industry, female (% of female employment) (modeled ILO estimate) [SL.IND.EMPL.FE.ZS]",
                             "Employment in services, female (% of female employment) (modeled ILO estimate) [SL.SRV.EMPL.FE.ZS]"]]
gender_stats3["Sex"]= "Female"
gender_stats3 = gender_stats3.drop(gender_stats3.index[0:31])
gender_stats3 = gender_stats3.reset_index()
gender_stats3 = gender_stats3.drop(["index"], axis = 1)
gender_stats3.head()
agf=gender_stats3[["Time","Sex","Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]"]]
agf["Type"]= "agriculture"
agf.rename(columns = {"Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]":"Percentage"},inplace = True)
agf

sf=gender_stats3[["Time","Sex","Employment in services, female (% of female employment) (modeled ILO estimate) [SL.SRV.EMPL.FE.ZS]"]]
sf["Type"]= "services"
sf.rename(columns = {"Employment in services, female (% of female employment) (modeled ILO estimate) [SL.SRV.EMPL.FE.ZS]":"Percentage"},inplace = True)
sf

inf=gender_stats3[["Time","Sex","Employment in industry, female (% of female employment) (modeled ILO estimate) [SL.IND.EMPL.FE.ZS]"]]
inf["Type"]= "industry"
inf.rename(columns = {"Employment in industry, female (% of female employment) (modeled ILO estimate) [SL.IND.EMPL.FE.ZS]":"Percentage"},inplace = True)
inf

emp_female = pd.concat([agf,sf,inf])
emp_female

In [4]:
gender_stats3m = gender_stats[["Time",
                              "Employers, male (% of male employment) (modeled ILO estimate) [SL.EMP.MPYR.MA.ZS]",
                              "Employment in agriculture, male (% of male employment) (modeled ILO estimate) [SL.AGR.EMPL.MA.ZS]",
                             "Employment in industry, male (% of male employment) (modeled ILO estimate) [SL.IND.EMPL.MA.ZS]",
                            "Employment in services, male (% of male employment) (modeled ILO estimate) [SL.SRV.EMPL.MA.ZS]"]]
gender_stats3m["Sex"]= "Male"
gender_stats3m = gender_stats3m.drop(gender_stats3m.index[0:31])
gender_stats3m = gender_stats3m.reset_index()
gender_stats3m = gender_stats3m.drop(["index"], axis = 1)
gender_stats3m.head()

agf=gender_stats3m[["Time","Sex","Employment in agriculture, male (% of male employment) (modeled ILO estimate) [SL.AGR.EMPL.MA.ZS]"]]
agf["Type"]= "agriculture"
agf.rename(columns = {"Employment in agriculture, male (% of male employment) (modeled ILO estimate) [SL.AGR.EMPL.MA.ZS]":"Percentage"},inplace = True)
agf

sf=gender_stats3m[["Time","Sex","Employment in services, male (% of male employment) (modeled ILO estimate) [SL.SRV.EMPL.MA.ZS]"]]
sf["Type"]= "services"
sf.rename(columns = {"Employment in services, male (% of male employment) (modeled ILO estimate) [SL.SRV.EMPL.MA.ZS]":"Percentage"},inplace = True)
sf

inf=gender_stats3m[["Time","Sex","Employment in industry, male (% of male employment) (modeled ILO estimate) [SL.IND.EMPL.MA.ZS]"]]
inf["Type"]= "industry"
inf.rename(columns = {"Employment in industry, male (% of male employment) (modeled ILO estimate) [SL.IND.EMPL.MA.ZS]":"Percentage"},inplace = True)
inf

emp_male = pd.concat([agf,sf,inf])
emp_male

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Time   Sex        Percentage         Type
0   1991.0  Male  6.48999977111816  agriculture
1   1992.0  Male  6.28800010681152  agriculture
2   1993.0  Male  6.33400011062622  agriculture
3   1994.0  Male  6.08500003814697  agriculture
4   1995.0  Male  5.94899988174438  agriculture
5   1996.0  Male  6.04699993133545  agriculture
6   1997.0  Male  6.18499994277954  agriculture
7   1998.0  Male  5.94399976730347  agriculture
8   1999.0  Male  6.02299976348877  agriculture
9   2000.0  Male  5.96400022506714  agriculture
10  2001.0  Male  5.78499984741211  agriculture
11  2002.0  Male  5.44899988174438  agriculture
12  2003.0  Male  4.94399976730347  agriculture
13  2004.0  Male   4.5770001411438  agriculture
14  2005.0  Male  4.48600006103516  agriculture
15  2006.0  Male   4.2960000038147  agriculture
16  2007.0  Male  4.20300006866455  agriculture
17  2008.0  Male  4.19299983978271  agriculture
18  2009.0  Male  4.07600021362305  agriculture
19  2010.0  Male  4.00600004196167  agriculture
20  2011.0  Male  3.58599996566772  agriculture
21  2012.0  Male  3.53600001335144  agriculture
22  2013.0  Male  3.41199994087219  agriculture
23  2014.0  Male  3.61800003051758  agriculture
24  2015.0  Male  3.30999994277954  agriculture
25  2016.0  Male  3.43799996376038  agriculture
26  2017.0  Male  3.40700006484985  agriculture
27  2018.0  Male  3.37899994850159  agriculture
28  2019.0  Male  3.35199999809265  agriculture
0   1991.0  Male  61.3600006103516     services
..     ...   ...               ...          ...
28  2019.0  Male   67.120002746582     services
0   1991.0  Male  32.1510009765625     industry
1   1992.0  Male  31.9099998474121     industry
2   1993.0  Male  32.0410003662109     industry
3   1994.0  Male   31.923999786377     industry
4   1995.0  Male    31.30299949646     industry
5   1996.0  Male   30.867000579834     industry
6   1997.0  Male  30.5090007781982     industry
7   1998.0  Male  30.2660007476807     industry
8   1999.0  Male  29.8689994812012     industry
9   2000.0  Male  30.4640007019043     industry
10  2001.0  Male  29.5909996032715     industry
11  2002.0  Male  29.9150009155273     industry
12  2003.0  Male  29.9489994049072     industry
13  2004.0  Male  30.6760005950928     industry
14  2005.0  Male  30.6450004577637     industry
15  2006.0  Male  31.1229991912842     industry
16  2007.0  Male  31.1019992828369     industry
17  2008.0  Male  31.6550006866455     industry
18  2009.0  Male  31.2689990997314     industry
19  2010.0  Male  31.0960006713867     industry
20  2011.0  Male  30.9710006713867     industry
21  2012.0  Male  30.9599990844727     industry
22  2013.0  Male  30.6259994506836     industry
23  2014.0  Male  31.7339992523193     industry
24  2015.0  Male   30.576000213623     industry
25  2016.0  Male  30.3209991455078     industry
26  2017.0  Male  29.5890007019043     industry
27  2018.0  Male  29.5659999847412     industry
28  2019.0  Male  29.5279998779297     industry

[87 rows x 4 columns]

In [5]:
emp_mf = pd.concat([emp_female,emp_male])
emp_mf= emp_mf.reset_index()
emp_mf = emp_mf.drop("index",axis = 1)
emp_mf
emp_mf.to_csv (r'C:\Users\vaibh\Documents\expo_project\emp_mf.csv', index = False, header=True)

In [6]:
job_stats = pd.read_csv("cf4b91ce-8b01-4ccf-8294-43d5cb2d2550_Data.csv") 
job_stat2 = pd.read_csv("746043e4-2172-4863-b6b3-430837affb80_Data.csv") #with series
job_stat2 = job_stat2.drop(["Country Name","Country Code"], axis = 1)
job_stat2 = job_stat2.drop([166,167,168,169,170])
job_stats = job_stats.drop(["Country Code","Country Name"], axis = 1)
job_stats = job_stats.drop([27,28,29,30,31])
job_stats = job_stats.replace(to_replace= np.nan,value = 0)
job_stat2.head()
#job_stats.to_csv (r'C:\Users\vaibh\Downloads\Data_Extract_From_Jobs (1)\job_stat.csv', index = False, header=True)
job_stats.head()

,Time,Time Code,Access to electricity (% of population) [EG.ELC.ACCS.ZS],"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]",Age dependency ratio (% of working-age population) [SP.POP.DPND],"Agriculture, value added (% of GDP) [NV.AGR.TOTL.ZS]","Agriculture, value added (annual % growth) [NV.AGR.TOTL.KD.ZG]","Agriculture, value added (constant 2005 US$) [NV.AGR.TOTL.KD]","Air transport, registered carrier departures worldwide [IS.AIR.DPRT]","Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]",...,"Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]","Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]",Urban population [SP.URB.TOTL],Urban population (% of total) [SP.URB.TOTL.IN.ZS],"Vulnerable employment, female (% of female employment) (modeled ILO estimate) [SL.EMP.VULN.FE.ZS]","Vulnerable employment, male (% of male employment) (modeled ILO estimate) [SL.EMP.VULN.MA.ZS]","Vulnerable employment, total (% of total employment) (modeled ILO estimate) [SL.EMP.VULN.ZS]","Wage and salaried workers, female (% of female employment) (modeled ILO estimate) [SL.EMP.WORK.FE.ZS]","Wage and salaried workers, male (% of male employment) (modeled ILO estimate) [SL.EMP.WORK.MA.ZS]","Wage and salaried workers, total (% of total employment) (modeled ILO estimate) [SL.EMP.WORK.ZS]"
0,1990.0,YR1990,100.0,20.9650,49.592036,4.208361,8.197639,1.440776e+10,255900.0,..,...,..,..,14579227.0,85.433,..,..,..,..,..,..
1,1991.0,YR1991,100.0,20.9200,49.577589,3.181848,5.541182,1.520612e+10,283600.0,..,...,18.5540008544922,17.4899997711182,14761055.0,85.403,9.96600008010865,14.3249999284745,12.5039996504784,84.5879974365234,76.6419982910156,79.9619979858398
2,1992.0,YR1992,100.0,20.8750,49.759815,3.053459,-5.303371,1.439968e+10,324600.0,..,...,20.75,19.2800006866455,14920611.0,85.285,10.0759996175766,14.8889999389648,12.8609999418259,84.6389999389648,76.3050003051758,79.8170013427734
3,1993.0,YR1993,100.0,20.5906,50.030597,3.263880,5.255210,1.515642e+10,347700.0,..,...,19.6959991455078,18.5400009155273,15044687.0,85.157,10.3089995384216,15.2409997582436,13.1549996137619,84.3430023193359,75.9850006103516,79.5189971923828
4,1994.0,YR1994,100.0,20.3062,50.215168,3.349279,4.140193,1.578392e+10,405600.0,..,...,17.4139995574951,16.8799991607666,15181749.0,85.028,10.0199998617172,14.7969996333122,12.7690002918243,84.447998046875,76.2160034179688,79.7119979858398

In [7]:
jobs_statsm= job_stats[["Time",
                        "Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]",
                        "Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]"]]

jobs_statsf = job_stats[["Time",
                        "Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]",
                        "Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]"]]
jobs_statsm["Sex"]= "Male"
jobs_statsf["Sex"]= "Female"


am=jobs_statsm[["Time","Sex","Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]"]]
am["Education"]= "advanced"
am.rename(columns = {"Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]":"Percentage unemployment"},inplace = True)
am


in_m=jobs_statsm[["Time","Sex","Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]"]]
in_m["Education"]= "intermediate"
in_m.rename(columns = {"Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]":"Percentage unemployment"},inplace = True)
in_m


in_f=jobs_statsf[["Time","Sex","Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]"]]
in_f["Education"]= "intermediate"
in_f.rename(columns = {"Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]":"Percentage unemployment"},inplace = True)
in_f

af=jobs_statsf[["Time","Sex","Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]"]]
af["Education"]= "advanced"
af.rename(columns = {"Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]":"Percentage unemployment"},inplace = True)
af

edu_mf = pd.concat([af,in_f,in_m,am])
edu_mf

edu_mf.to_csv (r'C:\Users\vaibh\Documents\expo_project\edu_mf.csv', index = False, header=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [8]:
# Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)	SL.TLF.CACT.FE.ZS
# Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)	SL.TLF.CACT.MA.ZS
# Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)	SL.TLF.CACT.ZS
# Labor force with advanced education (% of total working-age population with advanced education)	SL.TLF.ADVN.ZS
# Labor force with advanced education, female (% of female working-age population with advanced education)	SL.TLF.ADVN.FE.ZS
# Labor force with advanced education, male (% of male working-age population with advanced education)	SL.TLF.ADVN.MA.ZS
# Labor force with basic education (% of total working-age population with basic education)	SL.TLF.BASC.ZS
# Labor force with basic education, female (% of female working-age population with basic education)	SL.TLF.BASC.FE.ZS
# Labor force with basic education, male (% of male working-age population with basic education)	SL.TLF.BASC.MA.ZS
# Labor force with intermediate education (% of total working-age population with intermediate education)	SL.TLF.INTM.ZS
# Labor force with intermediate education, female (% of female working-age population with intermediate education)	SL.TLF.INTM.FE.ZS
# Labor force with intermediate education, male (% of male working-age population with intermediate education)	SL.TLF.INTM.MA.ZS

In [9]:
force_m= job_stats[["Time",
                    "Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.MA.ZS]"]]

force_f = job_stats[["Time",
                    "Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.FE.ZS]"]]

force_m["Sex"]= "Male"
force_f["Sex"]= "Female"

force_f.rename(columns = {"Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.FE.ZS]":"Labour force percentage"
}, inplace =True)

force_m.rename(columns = {"Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.MA.ZS]":"Labour force percentage"
}, inplace =True)

force_mf = pd.concat([force_f,force_m])
force_mf = force_mf.reset_index()
force_mf = force_mf.drop("index",axis =1 )
force_mf
force_mf.to_csv (r'C:\Users\vaibh\Documents\expo_project\force_mf.csv', index = False, header=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
edu_mf

      Time     Sex Percentage unemployment     Education
0   1990.0  Female                      ..      advanced
1   1991.0  Female                      ..      advanced
2   1992.0  Female                      ..      advanced
3   1993.0  Female                      ..      advanced
4   1994.0  Female                      ..      advanced
5   1995.0  Female        2.16000008583069      advanced
6   1996.0  Female                      ..      advanced
7   1997.0  Female        3.59999990463257      advanced
8   1998.0  Female         3.4300000667572      advanced
9   1999.0  Female                      ..      advanced
10  2000.0  Female        3.90000009536743      advanced
11  2001.0  Female        3.47000002861023      advanced
12  2002.0  Female        3.51999998092651      advanced
13  2003.0  Female        3.83999991416931      advanced
14  2004.0  Female        3.36999988555908      advanced
15  2005.0  Female        3.05999994277954      advanced
16  2006.0  Female        2.14000010490417      advanced
17  2007.0  Female         2.0699999332428      advanced
18  2008.0  Female        2.39000010490417      advanced
19  2009.0  Female        4.01999998092651      advanced
20  2010.0  Female        3.08999991416931      advanced
21  2011.0  Female        2.86999988555908      advanced
22  2012.0  Female        2.67000007629395      advanced
23  2013.0  Female        3.52999997138977      advanced
24  2014.0  Female                      ..      advanced
25  2015.0  Female                      ..      advanced
26  2016.0  Female                      ..      advanced
0   1990.0  Female                      ..  intermediate
1   1991.0  Female                      ..  intermediate
2   1992.0  Female                      ..  intermediate
..     ...     ...                     ...           ...
24  2014.0    Male                      ..  intermediate
25  2015.0    Male                      ..  intermediate
26  2016.0    Male                      ..  intermediate
0   1990.0    Male                      ..      advanced
1   1991.0    Male                      ..      advanced
2   1992.0    Male                      ..      advanced
3   1993.0    Male                      ..      advanced
4   1994.0    Male                      ..      advanced
5   1995.0    Male        2.44000005722046      advanced
6   1996.0    Male                      ..      advanced
7   1997.0    Male        4.07999992370605      advanced
8   1998.0    Male        3.63000011444092      advanced
9   1999.0    Male                      ..      advanced
10  2000.0    Male        3.65000009536743      advanced
11  2001.0    Male        3.35999989509583      advanced
12  2002.0    Male        3.46000003814697      advanced
13  2003.0    Male        3.59999990463257      advanced
14  2004.0    Male                    3.25      advanced
15  2005.0    Male        3.01999998092651      advanced
16  2006.0    Male        2.30999994277954      advanced
17  2007.0    Male        2.36999988555908      advanced
18  2008.0    Male        2.47000002861023      advanced
19  2009.0    Male        3.65000009536743      advanced
20  2010.0    Male        3.01999998092651      advanced
21  2011.0    Male        3.16000008583069      advanced
22  2012.0    Male        3.02999997138977      advanced
23  2013.0    Male        3.42000007629395      advanced
24  2014.0    Male                      ..      advanced
25  2015.0    Male                      ..      advanced
26  2016.0    Male                      ..      advanced

[108 rows x 4 columns]